<!DOCTYPE html>
<!-- saved from url=(0038)http://v3.bootcss.com/examples/signin/ -->
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/basic.css">

  </head>

  <body>
     <div>     
        <div>
            <div class="container inputReg">

              <form class="form-signin" method="post">
                <h2 class="form-signin-heading">注册</h2>
                <label for="inputEmail" class="sr-only">用户名</label>
                <input type="text" id="inputName" class="form-control" placeholder="用户名" required="" autofocus="" name="name">
                <span class="glyphicon glyphicon-remove">用户名长度应小于21个字符</span>
                <label for="inputPassword" class="sr-only">密码</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="" name="password">
                <span class="glyphicon glyphicon-remove">密码长度需大于5位小于21位</span>
                <label for="inputPasswordAgain" class="sr-only">确认密码</label>
                <input type="password" id="inputPasswordAgain" class="form-control" placeholder="确认密码" required="" name="password-repeat">
                <span class="glyphicon glyphicon-remove">两次输入密码不一致</span>
                <label for="inputEmail" class="sr-only">邮箱</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="邮箱" required="" email="email" name="email">
                <span class="glyphicon glyphicon-remove">请输入正确的邮箱</span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
              </form>
        </div> <!-- /container -->

<%- include footer %>