<introduction>
    <div id="myCarousel">
       <div class="container">
           <p class="lead text-center">
                常人的诞生就像海面四溅的水珠，形成无数的个体，歌颂着“自我”的觉醒；<br>
                死亡就像水珠落回大海，个体消失得无影无踪，意识归于沉静；<br>
                智慧就像大海，觉知遍于每一寸海岸线，遍于每一粒沙，遍于世间的一切。<br>  
                <span class="pull-right" style="magrgin-right:15px;">——铁哥</span>
           </p>
       </div>
    </div>  
</introduction>
