<div class="login">
    <div class="inputLogin">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">登录</h2>
            <label for="inputEmail" class="sr-only">用户名</label>
            <input type="text" id="loginInputName" class="form-control" placeholder="用户名" required="" autofocus="" name="name">
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="loginInputPassword" class="form-control" placeholder="密码" required="" name="password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
            </div>
            <input id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="button" value="登录">
        </form>
    </div>
</div>

